:root {
    --base-font-family: 'Impact', 'Comic Sans', monospace;

    --blueberries-color: #0c3520;
    --sky-color: rgba(179, 214, 165, 0.699);
    --black-color: #000000;
    --snow-color: #F0F8FF;
    --yellow-light-color: #e7b23e;
    --black-color: #000000;
    --avatar-border-color: white;
    --shadow-color: #00000029;
    --tasklist-back-color: #63835d;
    --input-shadow-color: #3b5546;
}

* {
    
    padding: 0;
    margin: 0;
    font-family: var(--base-font-family);
}

body {
    background: url(https://image.freepik.com/free-photo/wooden-board-empty-table-top-on-of-blurred-background-perspective-brown-wood-table-over-blur-in-coffee-shop-background-can-be-used-mock-up-for-montage-products-display-or-design-key-visual-layout_1253-1216.jpg) no-repeat;
    -moz-background-size: 100%; 
    -webkit-background-size: 100%; 
    -o-background-size: 100%; 
    background-size: 100%; 
}

#main-header {
    display: flex;
    margin-left: 1px;
    margin-right: auto;
    width: 8em;
    text-decoration: underline;
    align-items: center;
    font-size: clamp(3rem, 2vw, 2rem);
    padding: 10vh 8;
    color: var(--black-color);
    width: 22%;
    background-color: rgba(179, 214, 165, 0.699);
    background-clip: padding-box;
    border: 15px solid rgba(8, 53, 12, 0.575);
    box-sizing: border-box;
    border-radius: 3vw;
    padding: 1vw 1.2vw;
    
}

#main-container {
    width: 100%;
    box-sizing: border-box;
    padding-top: 4vh;
    margin-bottom: 4vh;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    row-gap: 4vh;
    column-gap: calc(8% / 3);
    
}

.orderarr {
  width: 31%;
  background-color: rgba(179, 214, 165, 0.699);
  background-clip: padding-box;
  border: 15px solid rgba(19, 85, 25, 0.575);
  box-sizing: border-box;
  border-radius: 3vw;
  padding: 1vw 1.2vw;
}

.orderarr-name {
    font-size: clamp(0.75rem, 2vw, 2rem);
    font-weight: 600;
    color: var(--black-color);
    margin-bottom: 1vw;
    
}

.orderarr:last-child > .orderarr-name {
    font-weight: 400;
    
}

.orderarr:last-child > .orderarr-name:hover {
    font-weight: 600;
    cursor: pointer;
}

#add-orderarr-input {
    box-sizing: border-box;
    width: 100%;
    border: none;
    border-radius: 0.7vw;
    box-shadow: 0 0 4px var(--input-shadow-color);
    padding:1vw 1.2vw;
    font-size: clamp(0.7rem, 1.5vw, 1.5rem);
    color: var(--input-shadow-color);
    opacity: 0.7;
    outline: none;
    
}

#add-orderarr-input:focus,
#add-orderarr-input:hover {
    opacity: 1;
    
}
  